@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,300&display=swap');
body {
    background: rgb(127, 160, 189);
    margin: 0;
    font-family: Roboto;
}


.navbar {
    /*Production*/
    background: rgb(241, 180, 11);
    /*for dev 
    background: rgb(241, 180, 11);*/
    /*for dev 
    background: rgb(241, 180, 11);*/
    padding: 2em;

    img.lb-logo {
	/*width: 230px;*/
	height: 230px;
	margin:  -240px 0 -140px -520px;/*top, _ bottom right left side*/
    }
    
    ul#nav_horizontal_list li {
        list-style-type: none;
        float: right;
        display: inline;
        padding-left:1em;

    }    
}

img.mobile-menu {
    display: none;
}

.wider_input_login{
    width: 300px;    
}

/*Login*/
section.LoginSection {
    padding: 100px 10px 100px 5px;
    .container{
        .login_as_guest{
            background-color: rgb(195, 233, 231);
            border-radius: 3em;
            width:150px;
            padding-left:10px;
        }
    }


}


/*HOME*/
section.Home {
    padding: 100px 10px 100px 5px;

    .home_link_list{
        list-style-type: none;
    }
}

/*Dashboard*/
section.dashboard {
    padding: 100px 10px 100px 5px;

    .current_chart_div{
        margin: 50px 0 0 0;
        width: 1000px;
        height: 500px;
        background-color: rgb(158, 197, 158);
        border-radius: 3em;
        border: 1px solid #dddddd;
        border-color: rgb(179, 173, 173);
        border-width: .5em;

    }
    .current_chart_div > label{
        padding: 5px 0 0 30px;
    }
    .bokeh_div{
        padding-left: 50px;
        background: black;
        margin-right: 10px;
        margin-left:10px;
        border-radius: 1.5em;
    }
    .enter_activity{
        margin:  80px 0 0 0;
        border: 1px solid #dddddd;
        background-color: tan;
        border-radius: 3em;
        border-color: rgb(179, 173, 173);
        border-width: .5em;
        width: 1000px;
        height: 300px;

    }
    .enter_activity > label{
    padding: 10px 0 0 10px;
    }
    .enter_activity_sub{
        padding: 10px 0 0 60px;
        margin-right: 50px;

    }
    .enter_activity_sub2{
        display: grid;
        grid-template-columns: 13% auto;

    }

    .btn_right{
        float: right;
        margin-right:150px;
    }

/*
    .dict_search {
        display: grid;
        grid-template-columns: 20% 21% auto;
        height: 20px;

        /*grid-template-columns: repeat(auto-fill,
            minmax(19rem, 1fr), minmax(19rem, 1fr));
    }
    */
    /*
    .dict_search div:nth-child(3n-2) {
        justify-self: end;
        padding-right: 2%;
        padding-top:1em;
       
        height:20px;
    }
*/



}


/*Upload Health Data*/
section.upload_health_data {
    padding: 100px 10px 100px 5px;
    .input_1{
        width:15%;
    }

}